# Server Configuration
server:
  servlet:
    context-path: /roadguard/v1

# JWT Configuration
roadguard:
  jwt:
    secret: your_jwt_secret_key_here

# OAuth2 Configuration
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: your_google_client_id
            client-secret: your_google_client_secret
